.project
.classpath
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.common.component
*.component
*.war
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
.classpath
WebContent/WEB-INF/views/home.jsp
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
build/classes/com/wwi16/servlet/Login.class
build/classes/com/wwi16/servlet/Login.class
build/classes/com/wwi16/servlet/Login.class
src/com/wwi16/servlet/Login.java
