html, body {
	font-family: sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #262626;
	font-weight: 100;
	max-width: 1920px;
	margin: 0 auto;
}

header {
	font-size: 18px;
}

html {
	animation: einblenden 1s;
}

@
keyframes einblenden {from { opacity:0;
	transform: translateY(1em);
}

to {
	opacity: 1;
	transform: translateY(0em);
}

}
@
keyframes hover {from { opacity:0;
	
}

to {
	opacity: 1;
}

}
main {
	clear: both;
	width: 100%;
}

header {
	position: fixed;
	z-index: 10;
	top: 0px;
	width: 100%;
	background-color: white;
}

footer {
	margin-top: 2em;
	background: #262626;
	color: #808080;
	min-width: calc(100% - 4em);
	width: auto !important;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: .7em;
	position: absolute;
	margin-bottom: 0px;
	line-height: 2.7em;
	height: auto;
}

p {
	padding-left: 1em;
	padding-right: 1em;
	color: #262626;
	font-size: .9em;
	line-height: 1.62em;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: .5em;
	text-align: justify;
}

h1 {
	color: #4472C4;
	font-weight: 100;
	font-size: 2.2em;
	z-index: 10;
	margin: 0;
	text-align: center;
}

h2 {
	color: #4472C4;
	position: relativ;
	margin-bottom: 1.5em;
	font-size: 1.4em;
	font-weight: 100;
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}

h3 {
	color: #00a0e1;
	position: relative;
	margin-bottom: 1.5em;
	font-size: 1.8em;
	font-weight: 100;
	padding-left: 1em;
}

h5 {
	color: #4472C4;
	position: relative;
	font-size: 1.4em;
	font-weight: 100;
	padding-left: 7.2em;
}

}
a {
	color: #262626;
	text-decoration: underline;
	width: auto;
	height: auto;
}

a:hover {
	color: #00a0e1;
}

#prozess_bilder {
	margin: 0 auto;
	height: auto;
	width: 100%;
}

#header-content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../img/header.jpg");
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	color: #fff;
	margin-bottom: 2em;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

:target {
	animation: hover .5s;
}

.lightbox:target {
	outline: none;
	display: block;
}

#search-form {
	text-align: center;
	vertical-align: center;
}

#search {
	width: 70%;
}

.show-menu {
	position: relative;
	text-decoration: none;
	color: #fff;
	background: #00a0e1;
	text-align: center;
	display: none;
	width: 10%;
	float: left;
	vertical-align: middle;
}

.content-wrapper {
	margin: 0 auto;
	max-width: 1020px;
	
}

input {
	border: none;
	border-bottom: 1px dotted #666666;
}

input[type=checkbox] {
	display: none;
	-webkit-appearance: none;
}

input[type=checkbox]:checked ~ nav {
	display: block;
	animation: hover 1s;
}

.name-address {
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
	background: #fff;
}

#logo {
	position: relative;
	max-width: 90%;
	max-height: 40px;
	margin: 0 auto;
}

#impressum {
	color: #fff;
	text-decoration: none;
	display: block;
}

#social {
	text-align: center;
	margin: 0 auto;
	z-index: 8;
	display: block;
}

header {
	min-height: 40px;
}

#header-content {
	margin-top: -5px;
}

#hallo{
	text-align:right;
	margin-top: 10px;
	margin-right: 10px;
}

.banner-wrapper {
	width: 100%;
	margin-top: 60px;
}

.banner {
	width: 100%;
}

/*---------------Smartphones--------------------*/
@media only screen and (max-width: 414px) {
	.show-menu {
		display: block;
		float: right;
		height: 40px;
		line-height: 40px;
	}
	nav {
		margin-top: -5px;
		display: none;
		background: #00a0e1;
		color: #fff;
		clear: both;
	}
	nav ul {
		vertical-align: center;
		list-style: none;
		margin: 0;
	}
	nav ul li a {
		color: #fff;
		text-decoration: none;
		margin: 2px 0;
		font-size: 1.1em;
	}
	nav ul li ul {
		list-style: square;
		font-size: 1em;
	}
	nav ul li a:hover {
		color: #fff;
		text-decoration: underline;
	}
	h2 {
		text-align: center;
	}
	#search {
		margin-bottom: 1em;
		background: #fff;
	}
	#logo {
		position: relative;
		max-width: 90%;
		max-height: 40px;
		margin: 0 auto;
	}
	#impressum {
		color: #fff;
		text-decoration: none;
		display: block;
	}
	#social {
		text-align: center;
		margin: 0 auto;
		z-index: 8;
		display: block;
	}
	header {
		min-height: 40px;
	}
	#header-content {
		margin-top: -5px;
	}
}

#quelle {
	text-align: right;
	padding-left: 2em;
	padding-right: 2em;
	color: #262626;
	font-size: .7em;
	line-height: 1em;
	margin: 0 auto;
}

header {
	height: 110px;
}

nav {
	float: left;
	margin-top: 0;
	width: calc(100% - 500px);
	line-height: 110px;
	height: 110px;
	font-size: 1em;
	font-weight: 400;
	background: #fff;
	color: #262626;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: left;
}

nav ul li {
	float: left;
	width: 25%;
	vertical-align: center;
	text-align: center;
	-webkit-transition: background 0.3s ease-out 0s;
	-moz-transition: background 0.3s ease-out 0s;
	-o-transition: background 0.3s ease-out 0s;
	transition: background 0.3s ease-out 0s;
}

nav ul li ul {
	width: calc(25% - 116.75px);
	min-width: auto;
	display: inline;
	visibility: hidden;
	position: absolute;
	color: #fff;
	padding: 0;
	margin: 0;
	transition: visibility 0s, opacity 0.5s linear;
	text-align: left;
	margin-left: calc(58.375px - 12.5%);
}

nav ul li:hover>ul {
	visibility: visible;
	animation: hover .5s;
}

nav ul li:hover {
	background: #00a0e1;
}

nav ul li a:hover {
	color: #fff;
}

nav ul li ul li {
	float: none;
	width: 100%;
	min-width: auto;
	height: 3em;
	line-height: 3em;
	text-align: center;
	vertical-align: center;
	background: #262626;
	color: #fff;
	-webkit-transition: background 0.3s ease-out 0s;
	-moz-transition: background 0.3s ease-out 0s;
	-o-transition: background 0.3s ease-out 0s;
	transition: background 0.3s ease-out 0s;
}

nav ul li ul li a {
	color: #fff;
}

nav ul li ul li:hover {
	background: #262626;
	color: #fff;
}

nav ul li a {
	text-decoration: none;
	display: block;
}

small {
	font-size: 0.88em;
	text-transform: uppercase;
	margin-bottom: 0.8em;
}

p {
	padding-left: 2em;
	padding-right: 2em;
	color: #262626;
	font-size: 1.1em;
	line-height: 1.62em;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: .5em;
	text-align: justify;
	column-count: 1;
	width: 70%;
}

footer {
	margin-top: 2em;
	background: #262626;
	color: #808080;
	width: calc(100% - 4em);
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0em;
	padding-bottom: 0em;
	font-size: .7em;
	position: absolute;
	margin-bottom: 0px;
	line-height: 1.7em;
}

h1 {
	color: white;
	font-weight: 100;
	font-size: 3.2em;
	z-index: 10;
	margin: 0;
	text-align: center;
	text-shadow: 0 0 5px black;
}

h2 {
	color: #4472C4;
	position: relativ;
	margin-bottom: 1.5em;
	font-size: 1.4em;
	font-weight: 100;
	padding-left: 1em;
}

h3 {
	color: #00a0e1;
	position: relative;
	margin-bottom: 1.5em;
	font-size: 1.8em;
	font-weight: 100;
	padding-left: 1em;
}

h4 {
	color: #00a0e1;
	position: relative;
	margin-bottom: 1.5em;
	font-size: 1.8em;
	font-weight: 100;
	padding-left: 1em;
}

h5 {
	color: #4472C4;
	position: relative;
	font-size: 1.4em;
	font-weight: 100;
	padding-left: 7.2em;
}

#logo {
	float: left;
	margin-left: 2em;
	width: 226px;
	height: 70px;
	margin-top: 20px;
	margin-right: 5px;
}

#search-form {
	float: left;
	width: 25%;
}

#header-content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../bilder/header.jpg");
	padding-top: 10%;
	padding-bottom: 10%;
	text-align: center;
	color: #fff;
	margin-bottom: 2em;
	margin-top: -19em;
}

textarea {
	width: 400px;
	height: 100px;
}

#weiter_links {
	padding-left: 2em;
	padding-right: 2em;
	color: #262626;
	font-size: .9em;
	line-height: 1.62em;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

#liste_prozess {
	padding-left: calc(15% + 3em);
	padding-right: 2em;
	color: #262626;
	font-size: .9em;
	line-height: 1.62em;
	margin: 0 auto;
	margin-top: 1em;
	margin-bottom: 1em;
}

#quelle {
	text-align: right;
	padding-left: 2em;
	padding-right: 2em;
	color: #262626;
	font-size: .7em;
	line-height: 1em;
	margin: 0 auto;
}

.kontakt {
	text-align: center;
}

#haftung {
	font-weight: bold;
}

#impressum {
	color: #fff;
	float: right;
	font-size: 1em;
	margin-top: 30px;
	text-decoration: none;
}

#social {
	text-align: center;
	margin: 0 auto;
	width: 100px;
	float: right;
	z-index: 8;
}

#prozess_bilder {
	height: auto;
	width: auto;
	display: block;
}

button {
	border: 1px solid #00a0e1;
	background: #00a0e1;
	color: #fff;
	height: 50px;
	border-radius: 20px;
}

button:hover {
	color: #00a0e1;
	background: transparent;
	box-shadow: 0 0 2px rgba(0, 158, 227, 0.5);
	outline: 0;
}