
body{background:white;margin:0;}
.form{width:360px;height:550px;background:white;border-radius:8px;border:solid;margin:calc(vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
h2{margin:10px 0;padding-bottom:10px;width:180px;color:black;border-bottom:3px solid white;}
input{width:100%;padding:10px;box-sizing:border-box;background:none;outline:none;resize:none;border:0;font-family:'Montserrat',sans-serif;transition:all .3s;border-bottom:2px solid white}
input:focus{border-bottom:2px solid white}
p:before{content:attr(type);display:block;margin:28px 0 0;font-size:14px;color:black}
button{float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid white;background:#00a0e1;color:white;cursor:pointer;transition:all .3s}
button:hover{background:white;color:#00a0e1}

    
    
body {
background: white;


}

.review-holder {
  position: relative;
  clear: both;
  display: inline-block;
  float: left;
}

.review:hover span {
  color: gold;
}
.review:hover span:before {
  content: "\e600";
}
.review span {
  
  -webkit-box-reflect: below -8px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.3)));
  float: left;
  padding: 0 2px;
  color: black;
  cursor: pointer;
}
.review span:after {
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 16px;
}
.review span:hover:after {
  content: attr(data-description);
  position: absolute;
  left: calc(100% + 10px);
  white-space: nowrap;
  color: black;
}
.review span:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e601";
  font-family: 'apple';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}
.review span:hover ~ span {
  color: #FFF;
}
.review span:hover ~ span:before {
  content: "\e601";
}


textarea {
	width: 27em;
	height: 5em;
	border: 1px solid gray;
	padding: 0.5em;
}

textarea:focus {
	background: #FFC;
}


