

#my_table{
    margin-left:auto; 
    margin-right:auto;
     border-spacing: 25px;
}

#head_tbl{
	margin-right: 20px;
	font-size: 1.75em;
}

#down_tbl{
	font-size:1.5em;
}


#prozess_bilder {
	margin: 0 auto;
	height: auto;
	width: 100%;
}

.lightbox {
	display: none;
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}
:target {
	animation: hover .5s;
}
.lightbox:target {
	outline: none;
	display: block;
}
#search-form {
	text-align: center;
	vertical-align: center;
}
#search {
	width: 70%;
}
#send_message{
	background-color:#00a0e1;
	border: 0;
	color: #fff;
	
	-webkit-box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.46);
	-moz-box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.46);
	box-shadow: -1px 0px 7px 1px rgba(0,0,0,0.46);
}

.show-menu {
	position: relative;
	text-decoration: none;
	color: #fff;
	background: #00a0e1;
	text-align: center;
	display: none;
	width: 10%;
	float: left;
	vertical-align: middle;
}

.name-address {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
}
.form-field-label {
    position: absolute;
    left: 190px;
    font-size: 15px;
    color: #888;

}




.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}


.creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
    margin-top: -50px;
}
.creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
}

.creditCardForm .payment {
    float: left;
    font-size: 18px;
    padding: 10px 25px;
    margin-top: 20px;
    position: relative;
}
.creditCardForm .payment .form-group {
    float: left;
    margin-bottom: 15px;
}
.creditCardForm .payment .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
    width: 25%;
}
.creditCardForm .owner {
    width: 63%;
}
.creditCardForm .CVV {
    width: 35%;

}
.creditCardForm #card-number-field {
    width: 200%;
	margin-left: 18px;
    
}
.creditCardForm #expiration-date {
    width: 49%;
}
.creditCardForm #credit_cards {
    width: 50%;
    margin-top: 25px;
    text-align: right;
}
.creditCardForm #pay-now {
    width: 100%;
    margin-top: 25px;
}

.creditCardForm .payment select {
    padding: 10px;
    margin-right: 15px;
}
.transparent {
    opacity: 0.2;
}
@media(max-width: 650px) {
    .creditCardForm .owner,
    .creditCardForm .CVV,
    .creditCardForm #expiration-date,
    .creditCardForm #credit_cards {
        width: 100%;
    }
    .creditCardForm #credit_cards {
        text-align: left;
    }
}
#box{
	border-color: #00a0e1;
border-width: 2px;
border-style: inset;
}
}


}


}
}