.banner-wrapper{
	width: 100%;
	margin-top:60px;
}
.banner{
	width:100%;
}

.carPicture{
	background-image: url("/carSharing/html/img/focus.png");
	width: 100%;
	height:150px;
	background-size:100%;
}
.carWrapper{
	width:30%;
	float:left;
	margin-left:2%;
}