.banner-wrapper{
	width: 100%;
	margin-top:60px;
}
.banner{
	width:100%;
}

.carPicture{
	background-image: url("/carSharing/html/img/focus.png");
	height: 100px;
	width: 100px;
}
.carWrapper{
	width:400px;
	float:left;
}