.form-field-label {
    position: absolute;
    left: 190px;
    font-size: 15px;
    color: #888;

}
#enver-button{
	
margin-left:0px;
}

.form-group{
	
	margin-left:190px;
}

.banner-wrapper{
	width: 100%;
	margin-top:60px;
}

#daten{
	margin-left:25px;
}