.formular-wrapper {
	padding-left: 0px;
	clear: both;
	padding-bottom: 10px;
}

.kennzeichen-wrapper {
	position: relative;
}

.kennzeichen-wrapper img {
	display: block;
	z-index: auto;
	background-size: contain;
	min-height: 48.96px;
	min-width: 252px;
}

.kennzeichen-wrapper span {
	position: absolute;
	top: 0;
	line-height: 2em;
	z-index: auto;
	margin-top: 9px;
}

.kennzeichen-wrapper input {
	font-size: 2em;
	background: transparent;
	border: none;
}

#span1 {
	margin-left: 30px;
}

#span1 input {
	width: 60px;
}

#span2 {
	margin-left: 110px;
}

#span2 input {
	width: 40px;
}

#span3 {
	margin-left: 170px;
}

#span3 input {
	width: 75px;
}

.formular_ul {
	list-style-type: none;
	padding-left: 0px;
}

.formular_li {
	float: left;
	padding-right: 100px;
}

.slidecontainer {
	width: 40%; /* Width of the outside container */
}

/* The slider itself */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
	opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4472C4;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4472C4;
	cursor: pointer;
}

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.kennzeichen_img {
	width: 20%;
}