<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="show_sql">false</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="current_session_context_class">thread</property>
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
		<property name="hibernate.max_fetch_depth">3</property>
		<property name="hibernate.enable_lazy_load_no_trans">true</property>
		

		<property name="connection.datasource">java:comp/env/jdbc/carSharingDB</property>
		<mapping class="com.wwi16.model.Fahrzeug" />
		<mapping class="com.wwi16.model.FahrzeugFarbe" />
		<mapping class="com.wwi16.model.FahrzeugHersteller" />
		<mapping class="com.wwi16.model.FahrzeugKategorie" />
		<mapping class="com.wwi16.model.User" />
		<mapping class="com.wwi16.model.Buchung" />
		<mapping class="com.wwi16.model.Ausstattung" />
		<mapping class="com.wwi16.model.Kreditkarte" />
		<mapping class="com.wwi16.model.FahrzeugVermietZeitraum" />
		<mapping class="com.wwi16.model.Kraftstoff" />
		<mapping class="com.wwi16.model.FahrzeugAusstattung" />
		<mapping class="com.wwi16.model.LatLong" />
		<mapping class="com.wwi16.model.Bewertung" />
	</session-factory>
</hibernate-configuration>
